<md-content flex layout-padding">
	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-sm flex="25">
            <label>Buscar por</label>
            <md-select ng-model="query.type" ng-change="search()">
				<md-option value="idValue" selected>
					Identificación
				</md-option>
				<md-option value="name">
                	Nombre
				</md-option>
            </md-select>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm flex="60">
			<label>Ingrese lo que desea buscar</label>
        	<input ng-model="query.value" ng-change="search()">
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm flex="15">
			<md-button class="md-raised" ng-disabled="!donors || donors.length == 0" ng-click="sendMail($event)" ng-mouseenter="showTooltipSave=true" ng-mouseleave="showTooltipSave=false">
				<md-tooltip md-direction="top" style="font-size:18px;">
					Enviar mail
				</md-tooltip>
				<i class="material-icons">
					mail_outline
				</i>
			</md-button>
		</md-input-container>
	</div>
	<md-divider></md-divider>
	<div ng-if="donors.length > 0">
		<div ng-repeat="d in donors" ng-include="'static/templates/donors.result.html'">

		</div>

		<div class="navigationButtonLeft">
			<md-button class="md-raised" ng-disabled="currentPage == 0" ng-click="changePage('previous')" ng-mouseenter="showTooltipBack=true" ng-mouseleave="showTooltipBack=false">
				<md-tooltip md-direction="top" style="font-size:18px;">
					Anteriores
				</md-tooltip>
				<i class="material-icons">
					undo
				</i>
			</md-button>
		</div>
		<div class="navigationButtonRight">
			<md-button class="md-raised" ng-click="changePage('next')" ng-mouseenter="showTooltipNext=true" ng-mouseleave="showTooltipNext=false">
				<md-tooltip md-direction="top" style="font-size:18px;">
					Siguientes
				</md-tooltip>
				<i class="material-icons">
					redo
				</i>
			</md-button>
		</div>
	</div>
	<div ng-if="!donors || donors.length == 0">
		No se encontraron donantes
	</div>
</md-content>

<md-button ui-sref="donor" class="md-fab donorAdd" aria-label="Agregar donante" ng-mouseenter="showTooltip=true" ng-mouseleave="showTooltip=false">
		<md-tooltip md-direction="top" style="font-size:18px;">
			Agregar donante
        </md-tooltip>
		<i class="material-icons" style="font-size:32px;padding-top:3px">add</i>
</md-button>
