<md-content flex layout-padding">
	<div ng-if="services.length > 0">
		<div ng-repeat="service in services" ng-include="'static/templates/services.result.html'">
		</div>
	</div>
	<div ng-if="!services || services.length == 0">
		No se encontraron servicios
	</div>

	<div layout-gt-xs="row" style="text-align: center; margin-right: auto; margin-left: auto">
        <div id="map-canvas" style="width: 380px; height: 260px;margin: 0 auto 0 auto;"></div>
    </div>

	<md-button ui-sref="service" class="md-fab donorAdd" aria-label="Agregar Servicio" ng-mouseenter="showTooltip=true" ng-mouseleave="showTooltip=false">
			<md-tooltip md-direction="top" style="font-size:18px;">
				Agregar servicio
	        </md-tooltip>
			<i class="material-icons" style="font-size:32px;padding-top:3px">add</i>
	</md-button>
</md-content>