<md-content flex layout-padding style="height: 456px;">
				<div>
					<form name="userForm">
						<div layout-gt-xs="row">
							<md-input-container class="md-block" flex-gt-xs>
								<label>Nombre</label>
								<input ng-model="donor.name">
							</md-input-container>
							
							<md-input-container>
								<label>Fecha de nacimiento</label>
								<md-datepicker ng-model="donor.birthday"></md-datepicker>
							</md-input-container>
						</div>
						
						<div layout-gt-xs="row">
							<md-input-container class="md-block" flex-gt-xs>
								<label>Tipo de Identificacion</label>
								<md-select ng-model="donor.idType">
									<md-option ng-repeat="idType in idTypes" value="{{idType}}">
										{{idType}}
									</md-option>
								</md-select>
							</md-input-container>
							
							<md-input-container class="md-block" flex-gt-xs>
								<label>Identificacion</label>
								<input ng-model="donor.idValue">
							</md-input-container>
								
							<md-input-container class="md-block" flex-gt-xs>
								<label>Grupo sanguineo</label>
								<md-select ng-model="donor.bloodType">
									<md-option ng-repeat="bloodType in bloodTypes" value="{{bloodType}}">
										{{bloodType}}
									</md-option>
								</md-select>
							</md-input-container>
						</div>
					
						
						<div layout-gt-xs="row">
							<md-input-container class="md-block" flex-gt-xs>
								<label>Telefonos</label>
								<md-chips ng-model="donor.phones" md-enable-chip-edit="true"></md-chips>
							</md-input-container>
							
							<md-input-container class="md-block" flex-gt-xs>
								<label>Mails</label>
								<md-chips ng-model="donor.mails" md-enable-chip-edit="true">
									<input type="email" placeholder="Ingrese un mail" ng-pattern="/^.+@.+\..+$/">
								</md-chips>						
							</md-input-container>
						</div>
						
						<md-input-container class="md-block" flex-gt-lg>
							<label>Comentarios</label>
							<textarea ng-model="donor.comments" md-maxlength="300" md-select-on-focus></textarea>
						</md-input-container>
						
					</form>
					<div>
					<md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button> <md-button class="md-raised md-warn" ng-disabled="!donor._id" ng-click="delete()">Borrar</md-button>
				  </div>
				</div>
		
			</md-content>